@import url(../vendor/fonts.css);

body {
  font-family: "Forum", "Arial", sans-serif;
}

.swiper {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #b6dccd !important;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.navbar > .container-sm {
  justify-content: center;
}

.navbar-collapse {
  flex-grow: inherit;
  width: 90%;
  justify-content: center;
}

.navbar-nav {
    width: 100%;
    justify-content: space-between;
}

.navbar .nav-item {
  font-size: 22px;
  font-weight: 600;
}

.blue {
  background-color: #1b8e88;
  color: white;
}

.show-more .btn-primary {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.name-course {
  padding-top: 65px;
}

.name-course,
.show-more,
.author,
.feedback {
  display: flex;
  min-height: 90vh;
}

.video {
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.video h4 {
  margin-bottom: 32px !important;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.video-container iframe {
  width: 60%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.video .text-paragraph {
  text-align: center;
}

.help-block {
    padding-left: 8px;
}

.img {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 16px #b6dccd;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.img-white-back {
  box-shadow: 0 0 16px #1b8e88;
}

.text-paragraph {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.1;
}

.text-signature {
  font-size: 20px;
  line-height: 1.2;
}

.bold {
  font-weight: 600;
  font-size: 40px;
}

.btn-primary {
  background-color: #ee7227;
  border-color: #ee7227;
  border-radius: 5px;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: none !important;
}


.disabled {
    border: none;
    background-color: #ee7227 !important;
    opacity: .7 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #b6dccd;
  border-color: #b6dccd;
  color: #726858;
}

.btn-submit:hover,
.btn-submit:focus {
    border: none;
    background-color: #ee7227;
    opacity: .7;
    color: white;
}

.title-section {
  font-size: 44px;
  font-weight: normal;
}

.item-about .text-paragraph {
  font-weight: 600;
}

.invalid-feedback {
    padding-left: 8px;
}

.programm-list {
  list-style-type: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  padding-left: 0;
}

.programm-item {
  display: flex;
  gap: 10px;
  border-radius: 20px;
  border: 3px solid #b6dccd;
  align-items: center;
  background-color: #1ea7a0;
  padding: 6px;
  width: 100%;
  min-width: 700px;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  min-height: 75px;
  letter-spacing: 1.5px;
}

.programm-item-article {
  border-radius: 20px;
  border: 3px solid #b6dccd;
  padding: 6px;
  width: 200px;
  min-width: 220px;
  background-color: #b6dccd;
  margin: -9px 0 -9px -9px;
  color: #726858;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  min-height: 75px;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 1.2px;
}

.programm-item-text {
  margin: 0;
  padding: 0;
  color: white;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212529 !important;
}

.form-wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgba(128, 128, 128, 0.589);
  border-radius: 20px;
  box-shadow: 0 0 16px #1b8e88;
  min-height: 340px;
}

.feedback-messages {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  font-size: 30px;
  text-align: center;
}

.form-feedback {
  padding: 30px;
  width: 100%;
  max-width: 550px;
  font-size: 22px;
}

.form-wrapper {
  position: relative;
}

.form-photo {
  position: absolute;
  width: 450px;
  height: 450px;
  left: -170px;
  top: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.form-feedback input {
  border: none;
  border-bottom: 3px solid #1ea7a0;
  font-size: 22px;
  margin: 0;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-check-input {
  border: 1px solid #1b8e88 !important;
  width: 100%;
  max-width: 22px;
}

.form-check-input:checked {
  background-color: #1b8e88 !important;
}

.form-check-label {
  text-align: start;
  font-size: 22px;
  line-height: 1;
}

.form-feedback input:focus {
  outline: none !important;
  box-shadow: none;
}

.form-feedback input:focus,
.form-feedback input:hover {
  border-color: #b6dccd;
}

.checkbox-is-invalid {
    border: 2px solid #dc3545 !important;
}

.form-check .form-check-input {
    margin-left: 0;
}

.form-link {
  text-decoration: none;
  font-weight: 600;
  color: #1b8e88;
}

.form-link:hover {
    color: #1b8e88;
    opacity: .7;
}

.form-feedback .field {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.title-feedback {
  text-transform: uppercase;
  font-size: 32px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #b6dccd !important;
  color: rgba(0, 0, 0, .55) !important;
}

.footer-wrapper {
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  gap: 30px;
  padding: 0;
}

.footer-links li {
  width: 30px;
  height: 30px;
}

.footer-title {
  padding: 0;
  margin: 0;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.course-item {
  flex-basis: 50%;
}

.politics {
    width: 95%;
    margin: 20px auto;
}

.img-review {
    width:200px;
    border-radius:20px;
    height:200px;
    object-fit: cover;
}

.cookie {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90%;
    max-width: 400px;
    height: 125px;
    z-index: 1001;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
}

.cookie.active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.cookie__link {
    text-decoration: none;
    color: #1b8e88;
}

.cookie__button {
    color: #1b8e88;
    border: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.cookie__button:hover {
    cursor: pointer;
}

@media (max-width: 1400px) {
  .footer-wrapper {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .footer-wrapper {
    max-width: 960px;
  }

  .video-container iframe {
    width: 70%;
  }

  .programm-list {
    width: 80%;
    padding-left: 0;
  }

  .feedback {
    min-height: 65vw;
  }

  .form-wrapper {
    max-width: 64.5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .feedback-messages {
    margin-bottom: 30px;
  }

  .form-feedback {
    max-width: 60vw;
    text-align: center;
  }

  .form-photo {
    width: 25vw;
    height: 25vw;
    position: static;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .order-one {
    order: 1;
  }

  .order-two {
    order: 2;
  }

  .mobile {
    flex-direction: column;
    gap: 30px;
  }

  .img-mobile {
    display: flex;
    justify-content: center;
  }

  .btn-mobile {
    margin: 0 auto;
  }

  .mobile p,
  .mobile h1,
  .mobile h2,
  .mobile h3 {
    text-align: center;
  }

  .form-check .form-check-input {
    margin-left: -1.5em;
  }
}

@media (max-width: 992px) {
  .navbar > .container-sm {
    justify-content: flex-end;
  }

  .video-container iframe {
    width: 80%;
  }

  .navbar-nav {
    align-items: flex-end;
  }

  .text-paragraph {
    font-size: 26px;
  }

  .bold {
    font-size: 40px;
  }

  .title-section {
    font-size: 44px;
  }

  .programm-list {
    width: 90%;
    gap: 10px;
    padding: 0 !important;
  }

  .programm-item,
  .programm-item-article {
    min-height: 115px;
  }

  .feedback {
    min-height: 65vw;
  }

  .form-wrapper {
    max-width: 72.5vw;
  }

  .feedback-messages {
    margin: 20px 0;
    font-size: 26px;
  }

  .form-photo {
    width: 31vw;
    height: 31vw;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .footer-wrapper {
    max-width: 720px;
  }

  .img {
    max-width: 336px;
    max-height: 336px;
  }
}

@media (max-width: 768px) {
  .video-container iframe {
    width: 100%;
  }

  .video .text-paragraph {
    margin-top: 20px;
  }

  .swiper {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 70vh;
    box-shadow: 0 0 16px #1b8e88;
    border-radius: 20px;
  }

  .swiper-slide {
    background-color: #b6dccd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 40px;
  }

  .swiper-slide .text-paragraph {
    font-weight: 600;
  }

  .swiper-scrollbar {
    width: 90% !important;
    left: var(--swiper-scrollbar-sides-offset, 5%) !important;
  }

  .swiper-scrollbar-drag {
    width: 25% !important;
  }

  .img-card {
    display: flex;
    justify-self: center;
  }

  .text-paragraph {
    font-size: 24px;
  }

  .w-75 {
    width: 100% !important;
  }

  .bold {
    font-size: 36px;
  }

  .title-section {
    font-size: 40px;
  }

  .course-title,
  .video-title {
    margin-bottom: 0 !important;
  }

  .course-container {
    display: flex;
    flex-direction: column;
  }

  .course-item {
    display: none;
  }

  #course .container-sm {
    padding: 0;
    margin: 0 auto;
  }

  .programm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .programm-list {
    margin: 0 !important;
  }

  .programm-item {
    min-width: 95%;
    font-size: 16px;
  }

  .programm-item,
  .programm-item-article {
    min-height: 115px;
  }

  .feedback {
    min-height: 65vw;
  }

  .form-wrapper {
    max-width: 90vw;
  }

  .form-feedback {
    max-width: 90vw;
  }

  .footer-wrapper {
    max-width: 540px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer .form-link {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    padding: 0 30px;
  }

  .form-feedback input,
  .text-signature,
  .text-paragraph {
    font-size: 18px;
    line-height: 1.1;
  }

  .bold {
    font-size: 30px;
  }

  .title-section {
    font-size: 34px;
    margin-bottom: 55px !important;
  }

  .course-title,
  .video-title {
    margin-bottom: 20px !important;
  }

  .programm-list {
    width: 95%;
    margin-top: 20px !important;
  }

  .programm-item {
    flex-direction: column;
    min-height: 120px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .programm-item-article {
    min-height: 40px;
    width: 101%;
    margin: -3px 0 0;
    font-weight: 400;
  }

  .programm-item, .programm-item-article {
    padding: 0;
  }

  .programm-item-text {
    text-align: center;
    padding: 0 10px 10px;
  }

  .title-feedback {
    font-size: 24px;
  }

  #course .container-sm {
    padding-top: 20px !important;
  }

  .img-course {
    width: 75px;
  }

  .feedback-messages {
    margin: 40px 0;
    font-size: 22px;
  }

  .help-block {
    font-size: 14px;
  }

  .footer-links {
    gap: 15px;
  }

  .footer-links li {
    width: 25px;
  }

  .form-check-input {
    max-width: 18px;
  }

  .form-check-label {
    font-size: 18px;
  }

  .form-feedback .field {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .programm-item-article {
    font-size: 16px;
  }

  .swiper-slide {
    padding: 0 15px;
  }

  .programm-list {
    width: 100%;
  }

  .form-feedback input,
  .text-signature,
  .text-paragraph {
    font-size: 16px;
    line-height: 1;
  }

  .bold {
    font-size: 22px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .title-section {
    font-size: 26px;
  }

  .title-feedback {
    font-size: 22px;
  }

  .form-feedback input {
    font-size: 18px;
    line-height: 1;
  }

  .img {
    max-width: 200px;
    max-height: 200px;
  }

  .btn-primary {
    width: 100%;
    font-size: 20px;
  }

  .feedback-messages {
    font-size: 18px;
  }

  .name-course,
  .show-more,
  .author,
  .feedback {
    min-height: 90vh;
  }

  .cookie {
    height: 150px;
  }
}
